

body {
background: url('https://tse2.mm.bing.net/th/id/OIP.iQax19e4ML7xDIoAxx620gHaEo?r=0&rs=1&pid=ImgDetMain&o=7&rm=3') center center fixed;
background-size: 100%;
font-family: 'Roboto', sans-serif;
color: #FFFFFF;
}


#header {
background-color: rgba(157, 106, 187);
padding: 10px;
}

/* LINKS */
a {
color: #FFD700;
text-decoration: none;
}


<!-- Nightlight RGB Busy - https://www.cursors-4u.com/cursor/nightlight-rgb-busy -->
<link rel="stylesheet" href="https://cdn.cursors-4u.net/cursors/animated/wait-094b6393-50.css">
<!-- End www.Cursors-4U.com Code -->